
<div class="col-12">
{% for flashMessages in app.session.flashBag.get('success') %}
<div class="alert alert-success" role="alert">
 <i class="fa fa-clipboard-check" style="">{{ flashMessages }}</i>
</div>
{% endfor %}

{% for flashMessages in app.session.flashBag.get('error') %}
<div class="alert alert-danger" role="alert">
 <i class="fa fa-clipboard-check" style="">{{ flashMessages }}</i>
 </div>
 {% endfor %}
 </div>