{% extends 'base.html.twig' %}

{% block title %}Tout les posts{% endblock %}

{% block body %}
<h2 class="text-white text-center mt-5 mb-5">Tout les posts</h2>
{{form(form1)}}
{% include "post/list.html.twig" %}

{% endblock %}
