{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
<div class="container page">

<div class="row">

<div class="col">


<h1>Modification du mot de passe pour le profil de  {{app.user.nom}}{{app.user.prenom}}</h1>
{{form(form)}}
</div>
</div>


</div>

{% endblock %}